root { 
    display: block;
}
body {
    text-align:center;
}
p {
    font-family:monospace;
    font-size: 20px;
}
table {
    margin:auto;
}
td {
    width:50px;
    height:50px;
    border: 1px solid black;
    font-size:40px;
    text-align:center;
    font-family:arial, helvetica, sans-serif;
    border-color: rgb(88, 88, 88);
    user-select: none;

}

#cell00, #cell10, #cell20 {
    border-left-style: none;
}

#cell02, #cell12, #cell22 {
    border-right-style: none;
}

#cell00, #cell01, #cell02 {
    border-top-style: none;
}

#cell20, #cell21, #cell22 {
    border-bottom-style: none;
}