html
{
	font-family: Arial;
	text-align: center;
}

body
{
	text-align: center;
	display: inline-block;
}

#mainContentContainer
{
	width: 100%;
	height: 255px;
}

#display_dice, #display_output, #display_message, #display_controls
{
	height: 250px;
	width: 150px;
	margin: 2px;
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	
	display: inline;
	float: left;
}
#die1, #die2
{
	background: red;
	padding-top: 25px;
	margin: 25px;
	box-shadow: 5px 5px 5px grey;
	
	color: white;
	font-size: 20px;
	text-align: center;
	
	width: 100px;
	height: 60px;
}

#display_output_heading
{
	margin-top: 30px;
	text-align: center;
	font-size: 14px;
}
#display_output_output
{
	margin-top: 30px;
	text-align: center;
	font-size: 90px;
}
#display_message_heading
{
	margin-top: 30px;
	text-align: center;
	font-size: 14px;	
}
#display_controls h1
{
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 12px;		
}
#display_controls p
{
	text-align: center;
	font-size: 12px;		
}
#display_controls_div_roll, #display_controls_div_clear
{
	border: 1px solid rgb(0, 0, 0);
	border-radius: 10px;
	
	background: #DDD;
	height: 35px;
	width: 110px;

	margin-left: 20px;
	margin-top: 10px;

	font-size: 12px;
	text-align: center;
	padding-top: 20px;

	user-select: none;
}










